// define breakpoint variables
$xxl-breakpoint: 1400px;
$xl-breakpoint: 1200px;
$lg-breakpoint: 1000px;
$md-breakpoint: 800px;
$sm-breakpoint: 650px;


// define speed variables
$fast-transition: 200ms;

// defining the color pallete
$primary-blue: #6C63FF;
$secondary-black: #2F2E41;
$success-green: #24CE80;
$error-red: #DB0C0C;